<div class="card bg-light">
    <div class="card-body row align-content-center">
        <img src="img/literacritico-logo.png"  width="200px" style="padding: 0% 20%;" class="img-responsive ">
        <p>O projeto se trata de uma especie de blog e rede social literario onde os administradores poderão publicar suas resenhas de suas ultimas 
    leituras e os usuarios padrões terão acessos à essas resenhas</p>
    </div>
</div>

{{#if user}}
    <div class="card bg-light">
        <h1  style="color: #0e97ce; align-self:center">Críticas</h2>
        {{#if user.eCritico}}
            <a href="/admin/novaCritica" style="align-self:flex-end; margin-right:1rem"><button class="btn" style="background-color: #00CC99;">Nova Crítica</button></a>
        {{/if}}
        <div class="card-body ">
            {{#each reviews}}
                <h4>{{titulo}}</h4>
                <h5>{{critico}}</h5>
                <small>{{resumo}}</small>
                <small>{{livro.titulo}}</small>
                
            {{/each}}
            <h3>Usuário Logado</h3>
        </div>
    </div>
{{else}}
    <div class="card col bg-light">
        <h2 class="row align-self-center">Login</h2>
        <div class="card-body">
            <form action="/" method="post">
                <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required>
                <label for="senha">Senha</label>
                    <input type="password" class="form-control" name="senha" required>
                <a class="nav-link" href="http://localhost:8080/users/register">Criar conta</a>
                <button class="btn" type="submit"  style="background-color: #00CC99;">Entrar</button>
            </form>
        </div>
    </div>
{{/if}}